@using ProjetGestionAssistance.Models 
@model ProjetGestionAssistance.Models.Billet 
@using Microsoft.AspNetCore.Http;
@{ ViewData["Title"] = "Details"; } 
@section Scripts{
<script>
    $(document).ready(function () {
        $("#ajoutComm").hide();
        $("#comm").on("click", function () {
            $("#ajoutComm").slideToggle();
            $("html body").animate({ scrollTop: $("html body").height() }, "slow");
        });
        $("#Enregistrer").on("click", function (e) {
            if ( $("#Texte").val() == "" )
            {
                e.preventDefault();
                $("#TexteVide").html("Le commentaire ne peut pas être vide.");
            }
        });
    });
</script> }

<h2>D&eacute;tails</h2>

<div>
    <h4>Billet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Auteur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Auteur.Courriel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departement.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentaires)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentaires)
        </dd>
    </dl>
</div>
<table class="table table-striped table-bordered">
    <tbody>
        @foreach (Commentaire c in ViewData["commentaires"] as List
        <Commentaire>) {
            <tr>
                <td class="font-weight-bold">@c.Auteur.Prenom</td>
                <td class="font-weight-bold">@c.Auteur.Nom</td>
                <td class="font-weight-bold">@c.DateCreation</td>
            </tr>
            <tr>
                <td colspan="3">@c.Texte</td>
            </tr>
            }
    </tbody>
</table>
<div>
    @if ( Context.Session.GetInt32("_Id") == Model.CompteId 
        || (Context.Session.GetInt32("_Type") == 2 && Context.Session.GetInt32("_Dep") == Model.DepartementId)
        || (Context.Session.GetInt32("_Type") >= 3))
    {
        <a href="javascript:void(0)" id="comm">Ajouter un commentaire |</a>
    }
    <a asp-action="Modification" asp-route-id="@Model.Id">Modifier le billet</a> |
    <a asp-action="Index" asp-route-sort="@ViewData["sort"]" asp-route-direction="@ViewData["direction"]" asp-route-ordre="@ViewData["ordrePrecedent"]" asp-route-page="@ViewData["pagePrecedente"]">Revenir &agrave; la liste</a>
</div>
<hr>
<div id="ajoutComm">
    <form asp-action="AjouterCommentaire" class="form-horizontal">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Texte" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea name="Texte" id="Texte" class="form-control" rows="5"></textarea>
                    <span validation-for="Texte" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="Id" name="BilletId" value="@Model.Id" />
            <input type="hidden" name="ordrePrecedent" value="@ViewData[" ordrePrecedent "]" />
            <input type="hidden" name="pagePrecedente" value="@ViewData[" pagePrecedente "]" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Enregistrer" id="Enregistrer" class="btn btn-default" />
                </div>
            </div>
            <p class="text-danger" id="TexteVide">@ViewData["TexteVide"]</p>
        </div>
    </form>
</div>